@{
    ViewData["Title"] = "Support";
}
<h1>Suporte</h1>

<div>
    <p>
        Para mais informações sobre a aplicação e suas versões, acesse <a href="https://github.com/arianacabral/Gerenciamento-Academico" data-linktype="absolute-path">aqui</a>.
    </p>
</div>