@model waGerenciamentoAcademico.Models.Disciplina

@{
    ViewData["Title"] = "Create";
}

<h1>Cadastrar</h1>
<br/>
<h4>Disciplina</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="disciplina" class="control-label"></label>
                <input asp-for="disciplina" class="form-control" />
                <span asp-validation-for="disciplina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="curso" class="control-label"></label>
                @Html.DropDownListFor(e => e.id_curso, (SelectList)ViewBag.Cursos, "Selecione o curso", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
